<!-- templates/about.html -->
{% extends "base.html" %}

{% block title %}About Me{% endblock %}

{% block content %}
<section class="content">
    <h2>About Me</h2>
    <p>Hello! I'm Xiaolan. We've probably already good friends if you have this link. But if 
        not—welcome! I hope to meet you soon:)</p>
    <h2>Live Tracker</h2>
    <p>Currently in NYC doing software engineer at a small AI company. Drop me a message or come visit!</p>
    <p>I made this website because:</p>
    <ul>
        <li>I really wanted to pimp out this sunscreen that I really love and I've written
            too many separate long text messages and want to point people to one place instead.
            No, seriously. That's the primary reason. 
        </li>
        <li>I deleted my social media and friends keep figuring out which city I am in two years 
            after I moved there.</li>
        <li>I really want to continue that 2013 Tumblr aesthetics.</li>
    </ul>
</section>
{% endblock %}
