<!-- templates/recommendations.html -->
{% extends "base.html" %}

{% block title %}Recommendations{% endblock %}

{% block content %}
<section class="content">
    <h2>Recommendations</h2>
    <p>A small subset of my favorite things~</p>

    <details id="sunscreen">
        <summary><b>Sunscreen:</b> Biore Watery Essence/Gel</summary>
        <p>The reason I made this website (seriously). I've bought 20+ bottles of Biore sunscreens since 
            the year 2014. I've tried so many of the 
            sunscreens out there (Annessa, SuperGoop, Neutrogena, Cerava AM, etc.) OMG they all cannot
            compare.
        </p>
        <p>Face: Biore Watery Essence. It was made for face and has no white cast.</p>
        <p>Body: Biore Watery Gel. It was made for body and has a slight white cast. It's cheaper than
            the face version.</p>
        <p> Why I like it:</p>
        <ul>
            <li><b>It works.</b> Japanese sunscreens are the way to go. They take sunscreens super seriously 
                because of the pale af beauty standard. Therefore they pursue new tech way more 
                whereas the US FDA hasn't approved new sunscreen compounds in like 10 years. 
                In addition, they use the PA system which accounts for UVA (the wavelength in charge
                of aging and tanning) whereas the US's SPF system only accounts for UBV (the wavelengths
                that ~burn~). Except if you read carefully for "full spectrum coverage" which protects against
                UVA + UBV, thank you Michael for correcting me. But I DIGRESS. Japanese sunscreens hella work.
                And they're all really high quality because of the fierce domestic competition.
            </li>
            <li><b>It feels great.</b> Annessa is oily on my skin (although my wonderful boyfriend likes it very much).
                Supergoop starts getting runny into my eyes sometime in the middle of the afternoon (although my
                wonderful boyfriend also like it very much b/c it comes in a bigass bottle). But Biore is
                non-oily, dries quickly, and basically unnoticable through the day. You still gotta take it off
                with oil cleansing though, like all sunscreens. 
            </li>
            <li><b>It's cheap.</b> Only $12/13 in the US or $5/6 in Japan. Compare to Annessa being like 30 bucks
                smh unnecessary. I get mine on Yesstyle and use it as free shipping fodder.
            </li>
        </ul>
    </details>

    <details id="cleansing-oil">
        <summary><b>Cleansing oil:</b> Shu Uemura Ultime8∞ Sublime Beauty Cleansing Oil</summary>
        <p>"People saying this is the best cleansing oil they've ever used are surely exaggerating," I said. 
            "How can a cleansing oil of all things stand out?" Well, my past self was so wrong! This is the 
            best cleansing oil I've ever slathered on my face! It takes off sunscreen/makeup like a dream with
            literally ZERO residue feeling left on the face and leaves the skin feeling EXCEPTIONALLY soft. Wow.
            Try to get this in Japan or on Korean Air sky magazine if possible because the price goes from 
            50 -> 30 dollars. Hella expensive for a cleansing oil but let me tell you, it is worth every cent.
        </p>
    </details>

    <details id="skii">
        <summary><b>Water that makes your face awesome:</b> SK II Facial Treatment Essence</summary>
        <p>What can I say. Asia's miracle water is indeed a miracle. The first time I used a sample, I woke up 
            the next morning and my face glowed like a lightblub 💡💡💡. Even now, if I don't use this 
            thing for a while (between refills) I can feel the difference. Get the huge 330ml bottle via Costco and it will last 
            you 1.5 years. 
        </p>
    </details>

    <p>I'm not sure how this entire page turned into skincare. But more to come!</p>
</section>
{% endblock %}
